<!-- <%- include('./base/header.ejs') %>
    <h1> we are going to start server side rendering </h1> 
     <div class="box"  style="display:grid; width: 45vw; margin: 0; float: left; " >
         <div class="container">
             <div class="alert text-center bg-primary my-3" style="color: white;">
                <h4>Login Form</h4>
             </div>
         </div>
         <div class="container my-5 " >
            <div class="row">
                <div class="col"></div>
                <div class="col"">
                    <form action="/login" method="post">
                        <div>
                            <label for="" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email"></input>
                        </div>
                        <div>
                            <label for="" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password"></input>
                        </div>
                        <input type="submit" value="Login" class="btn btn-warning w-100 my-3">
                        <div>
                            <a href="/user/signup" class="btn btn-danger w-100 my-3">Sign up</a>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
         </div>
        </div>
        <div class="box"  style=" display: grid; width: 45vw; float: right; justify-content: center; margin-top: 108px;" >
           <img src="https://tse3.mm.bing.net/th/id/OIP.r8Z5KisCOsU0ts2RlSD9JwAAAA?rs=1&pid=ImgDetMain&o=7&rm=3" alt="RDEC Logo" width="200px">
           <h3 style="margin-top: 10px; padding: 0 0 0 23px;">Project Name</h3>
        </div>
    <%- include('./base/footer.ejs') %> -->


<%- include('./base/header.ejs') %>
    <!-- <h1> we are going to start server side rendering </h1> -->
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="card shadow-lg p-4 rounded-4 col-md-6 bg-light">
                <!-- <div class="container"> -->
                <div class="alert text-center text-primary my-3 fw-bold" style="color: white;">
                    <h4>Login Form</h4>
                </div>
                <!-- </div> -->
                <div class="container my-5 ">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"">
                           <form action="/login" method="post">
                            <div>
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email"></input>
                            </div>
                            <div>
                                <label for="" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password"></input>
                            </div>
                            <input type="submit" value="Login" class="btn btn-primary w-100 my-3">
                            <div>
                                <a href="/user/signup" class="btn btn-outline-primary w-100 my-3">Sign up</a>
                            </div>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-primary bg-gradient text-white text-center p-5"
                style="background-color:  rgb(84 153 196);">
                <div class="bg-white p-3 rounded-circle shadow mb-3">
                    <img src="https://www.getadmissioninfo.com/uploads/topics/RD%20Engineering%20College,%20Ghaziabad%20logo.png"
                        alt="RDEC Logo" width="200px">
                </div>
                <h3 class="fw-bold">Student Management</h3>
            </div>
        </div>
    </div>
    <%- include('./base/footer.ejs') %>